.track-line {
    height: 2px !important;
    background-color: #F1C21B;
    opacity: 1;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #F1C21B;
    border-radius: 50%;
    display: inline-block
  }
  
  .big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #F1C21B;
    border-radius: 50%;
    display: inline-block;
  }
  
  .big-dot i {
    font-size: 12px;
  }
  
  .card-stepper {
    z-index: 0
  }
  .cancel-btn {
    background: #008efd !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    border-radius: 50px;
}

.cancle-orderModal .modal-body button {
    background: #008efd !important;
    text-transform: capitalize !important;
    border-radius: 50px;
    margin: 0 4px;
    width: 140px;
    font-size: 20px;
}
.cancle-orderModal .modal-body .bordercancle {
    background: none !important;
    color: #000;
    border: 2px solid #008efd;
}
.selct-cancle {
    text-align: left !important;
}
.selct-cancle .form-check {
    margin-bottom: 18px;
}
.btn {
  text-transform: capitalize !important;
}